@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hud {
  position: fixed; 
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 10; 
}

.bottomLeft {
  background: rgba(0, 0, 0, 0.6); 
  padding: 1rem;
  border: 2px solid #ff0000; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
  border-radius: 10px; 
}

.score__title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ff0000;
  margin: 0.5rem 0; 
  font-family: 'Press Start 2P', cursive;
  animation: neon 2s infinite alternate; 
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff4500, 0 0 30px #ff4500, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 75px #ff4500;
    color: #fff;
  }
  100% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff4500, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 70px #ff4500, 0 0 80px #ff4500;
    color: #ff4500;
  }
}
